%section#about.jc-center.all-12
  %a#about-link
  #about-container.box-col.ai-center.jc-around.all-10
    #about-content.container.y-center.box-col
      %h3.as-start
        We are not Realtors and so will take no commisions from the sale of the property - you will pay no fees for the transaction.

      %h3.all-9
        You will also get paid in 100% cash.

    .container.y-center.box-col
      #contain-features.box.jc-center.as-start
        .box-col.feature-box.ai-center.text-align
          =image_tag "coin.svg", alt: "coin", id:"coin"
          %h3 Top Offer
          %p Guaranteed top cash offer. We pay closing costs & realtor fees.
        .box-col.feature-box.ai-center.text-align
          =image_tag "house-4.svg", alt: "house", id:"house"
          %h3 Any condition
          %p We buy homes in any condition. AS-IS!
        .box-col.feature-box.ai-center.text-align.call
          =image_tag "sold.svg", alt: "sold", id:"sold"
          %h3 Call today
          %p
            Call
            %span 281 858-3090
            and sell your home today!

    .container.y-center.box-col
      #about-us.box.jc-center.all-10
        %h1.all-10 About Us
        %p
          At Innovations by L and L we know there are more important things in life than money; like being able to look at yourself in the mirror every morning and know that you have been able to help someone.
        %p
          We have been involved in the real estate industry for over 10 years and know how to structure a dead - and yes, it is a business - but not every deal is a good deal.

        %p
          A good deal is one wherein both parties are helped and can walk away with what they need.
        %p
          And we promise to always treat you with respect
