%footer.all-12.bg-dark.box-col.x-center
  #footer-container.all-12.jc-between
    #footer-right.box-col
      %p company name
      %p company address
      %p company phone number
      %p company e-mail

    #logo
      LL
    #footer-left
      %p for the left side
  #footer-copy
    %p &copy; 2016 marion, jones, colcleasure
