%header.box-col.all-12
  .bg-dark-50.box-col.all-12.x-center
    =render "layouts/nav"

    #header-container.container.y-center.box-col.all-10
      %h1.as-start Need to sell your house FAST?
      %h3.all-9
        Lorem Ipsum is simply dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s.
      %a{:href => "#contact-form", id:"header-btn", class:"as-start mt_20"} Contact Form
    #down-arrow.as-end.box-col.x-center.all-12.pb_25
      =image_tag "down-arrow.svg", alt: "down-arrow", id:"down"
