%header.box-col
  #header.box-col.ai-center.jc-around.bg-pink
    =render "layouts/nav"

    #header-container.box-col.jc-center.bg-pink
      %h1 Need to sell your house FAST?




-# .house-form-container
-#   %h1 Need to sell your house FAST?
-#   .admin-info
-#     %h3 We Buy Houses
-#     %p Get a Guaranteed Top Offer for your House.
-#     %h2 CALL US
-#     %h2 (832) 744-4711
-#     %p No hassles. No obligation.
-#     %h2 Just fill out this quick form!
-#   .sell-home-form
-#     %h2 Need To Sell Your House Fast?
