#about {
  height: 450px;
}

#about-container {
  max-width: 120rem;
  height: 35rem;
}

.feature-box {
  width: 28rem;
  padding: 2rem;
  img {
    width: 5rem;
    margin: 1rem;
  }
}
.call span {
  font-weight: 700;
}

#contain-features {
  margin-top: 3rem;
}
