/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "variables.scss";
@import "reset.scss";
@import "box-grid.scss";
@import "utilities.scss";
@import "type.scss";
@import "buttons.scss";
@import "static_pages.scss";
@import "admins.scss";
@import "header.scss";
@import "about.scss";
@import "form.scss";

// Nav
nav,#sm-nav{
  height: 60px;
  position: relative;
  top: 20px;
  // background: rgba(255,255,255,0.60);
}

#sm-nav {
  padding: 0 2.5rem;
}

#logo {
  font-weight: 900;
  font-size: 3.8rem !important;
  // &::first-letter {
  //   transform: rotateY(180deg);
  // }
}

#nav-container {
  color: white;
  width: 100%;
  padding: 0 2.5rem;
  ul li {
    font-size: 1.6rem;
  }
}

// Footer
footer {

}
#form-container {

}
