// Contact Form Style //

#contact-form {
  padding: 2.5rem 0;
}

#form-container {
  max-width: 120rem;
  h2 {
    margin-bottom: 1rem;
  }
}

.form {
  input {
    padding: 1.25rem;
    border-radius: .8rem;
    font-size: 1.6rem;
    background: $color2;
    color: $color5;
    font-weight: 400;
    letter-spacing: 1.7px;
    &::-webkit-input-placeholder {
      color: $color4;
      transition: 0.5s all;
      font-weight: 300;
    }
    &:focus {
      &::-webkit-input-placeholder {
        opacity: 0;
      }
    }
  }
}
