header {
  background: url('exotic-house.jpg') no-repeat fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#header-container {
  height: 100vh;
  color: white;
  h1 {
    font-size: 4.5rem;
  }
  h3 {
    // text-shadow: 0 0 10px black;
    font-weight: 400;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: 1px;
    text-shadow: 0 0 10px $color1,
            2px 2px 0px $color1,
            -2px -2px 0px $color1;
  }
}

#header-btn {
  color: white;
  text-transform: uppercase;
  padding: 10px 25px;
  background: rgba(0,0,0,0);
  border: 2px solid white;
  transition: .5s all;
  box-shadow: 2px 2px 0px $color1,
            -2px -2px 0px $color1;

  &:hover {
      background: #65AFFF;
      border: 2px solid #65AFFF;
  }
}
#down-arrow img {
  width: 7rem;
}
