%nav
  #nav-container
    =image_tag "LL_logo.jpg", alt: "L&L logo"
    %ul
      %li
        L&L
        %span
        BUYS
      HOUSES!!
      %li
        %span
          CALL US!
        291-858-3090
