%nav.all-12.box.x-center
  #nav-container.container.jc-between.ai-center.all-12
    %ul.box.all-12.y-center.even-space
      %li
        home
      %li
        about
      %li#logo
        LL
        // =image_tag "LLlogo.png", alt: "L&L logo", id:"logo"
      %li
        contact
      %li
        testimonials
       
      // %li
      //   Call us: 291-858-3090
