%nav.box.x-center.lg-12.xl-12.xs-0.sm-0.md-0
  #nav-container.container.jc-between.ai-center.all-12
    %ul.box.all-12.y-center.even-space
      %li
        =link_to "home", root_path
      %li
        %a{href: "#about-link"} 
          about 
      %li#logo
        LL
        // =image_tag "LLlogo.png", alt: "L&L logo", id:"logo"
      %li
        contact
      %li
        testimonials

      // %li
      //   Call us: 291-858-3090

#sm-nav.box.x-center.space-inside.lg-0.xl-0.xs-12.sm-12.md-12
  %p#logo LL
  =image_tag src="https://s32.postimg.org/oasmuq5v9/burger.png",
             alt: "hamburger", id:"hamburger"
