%nav.all-12.box-center.bg-red
  #nav-container.jc-between.ai-center.bg-blue
    =image_tag "LL_logo.jpg", alt: "L&L logo", id:"logo"
    %ul
      %li
        L&L
        %span
          BUYS
        HOUSES!!
      %li
        %span
          CALL US!
        291-858-3090
