!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LLBuysHouses
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    -# Typekit fonts
    %script(src="https://use.typekit.net/olx8ugq.js")
    %link(href="https://fonts.googleapis.com/css?family=Prompt:200,200i,300,300i,400,400i,700,800,900" rel="stylesheet")
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

  %body
    = yield
